<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <title>{{ recipe.name }}</title>

</head>

<header>
    <h1> Recipe Book </h1>
    <h2> You are user: {{ request.user.username }} </h2>
    <form action = "{% url 'logout' %}" method = "POST">
        {% csrf_token %}
        <button type = "submit"> Log Out </button>
    </form>
</header>

<body>

    <h1>{{ recipe.name }}</h1>
    <h2>Ingredients:</h2>

    <ul>
        {% for recipeingredient in recipe.ingredients.all %}
            <li>{{ recipeingredient.quantity }} of {{ recipeingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>

</body>

<footer>
    Created: {{ recipe.created_on }}
    Updated: {{ recipe.updated_on }}
</footer>


</html>